* {
	margin: 0;
	padding: 0;
}

#bgm {
	background: lightgrey;
	min-height: 600px;
	height: 600px;
}

#login {
	margin-top: 140px;
}

#err-msg {
	color: red;
	font-size: 13px;
}

#hdr{
	   font-size:20px;
	   color:yellow;
}